@model LabInsta.ViewModels.FeedViewModel


@{
    ViewData["Title"] = "Index";
}
<form method="get">
<label class="control-label"> Search users </label>   
    @Html.TextBox("LoginName",Model.LoginName,htmlAttributes:new{@class="form-control"})
    <input type="submit" value="filter" class="btn btn-outline-danger" />
    </form>
<table class="table">
    <thead>
        <tr>
            <th>
               Pic
            </th>
            <th>
               Description
            </th>
            <th>
               AmountOfLikes
            </th>
            <th>
                AmountOfComments
            </th>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Posts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Like" asp-controller="Posts" asp-route-id="@item.Id">Like</a> |
                <a asp-action="CommentPost" asp-controller="Posts" asp-route-id="@item.Id">Comment</a> 
            </td>
        </tr>
}
    </tbody>
</table>
