@model LabInsta.ViewModels.FeedViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Pic
            </th>
            <th>
               Description
            </th>
            <th>
               AmountOfLikes
            </th>
            <th>
                AmountOfComments
            </th>
            <th>
                User
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Posts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersLogin)
            </td>
        </tr>
}
    </tbody>
</table>
