@model LabInsta.ViewModels.YourPageViewModel

@{
    ViewData["Title"] = "YourPage";
}



 <div class="container">
     <div class="row">
         <div class="col-4"><img src="@Model.User.Avatar" style="border-radius:50%;width:70px;height:70px;" alt="pic"/></div>
         <div class="col-8">
             <div><strong>@Model.User.UserName</strong></div>
             <div>@Model.User.AmountOfPosts Posts  |  @Model.User.Subscribers Subscribers  |  @Model.User.Follows Follows</div>
             <div>@Model.User.FullName</div>
             <div>@Model.User.InfoUser</div>
         </div>
     </div>
     <div class="row">
@foreach (var item in Model.Posts)
    {
        <div class="card col-4">
         <img src="@item.Pic" class="card-img-top w-100" alt="pic">
         <div class="card-body">
             <div>
                <p> @item.AmountOfLikes Likes    |    @item.AmountOfComments Comments</p> 
                 </div> 
         <p class="card-text">@item.Description</p>
        </div>
        </div>
    }
    </div>
<a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Create">Create Post</a>
</div>